// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.required:after
{
    color: red;
    content: " *";
}
.td-title
{
    width: 15%;
}
.td-content
{
    width: 35%;
}
